%h2 Browser History
%br/

%b
  IP Address:
= ip_address
%br/

%b
  OS Name:
= user_agent_os
%br/

%b
  Browser:
= browser
%br/

%b
  Main Domain:
= main_domain
%br/

%b
  Domain:
= full_domain
%br/

%b
  Device:
= device
%br/

%b
  Device Type:
= device_type  
%br/

%b
  Client:
= ip_address
%br/